@model UserAuth.Models.UserModel

@{
    ViewData["Title"] = "Sign Up";
}

<link href="~/css/signup.css" rel="stylesheet" type="text/css" />

<h1>Sign Up</h1>

@using (Html.BeginForm("Signup", "Signup", FormMethod.Post))
{
    <div>
        <label for="username">Username:</label>
        @Html.TextBoxFor(m => m.Login, new { @id = "username", @required = "required"})
    </div>

    <div>
        <label for="password">Password:</label>
        @Html.TextBoxFor(m => m.Password, new { @id = "password", @required = "required", @type = "password"})
    </div>
    
    <input type="submit" value="Sign In">
}