@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button onclick="location.href='https://localhost:7234/signin'" type="button">Sign In</button>
    <button onclick="location.href='https://localhost:7234/signup'" type="button">Sign Up</button>
</div>
