@model UserAuth.Models.UserModel

@{
    ViewData["Title"] = "Sign In";
}

<link href="~/css/signup.css" rel="stylesheet" type="text/css" />

<h1>Sign In</h1>

@using (Html.BeginForm("Signin", "Signin", FormMethod.Post))
{
    <div>
        <label for="username">Username:</label>
        @Html.TextBoxFor(m => m.Name, new { @id = "username", @required = "required"})
    </div>

    <div>
        <label for="password">Password:</label>
        @Html.TextBoxFor(m => m.Password, new { @id = "password", @required = "required", @type = "password"})
    </div>

    <input type="submit" value="Sign In">
}